# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Rafal\Rafal_Format 2020 rok\Studia 3 rok sem 5\Programowanie w QT\programowanieQTprojekt\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
